Source: pc-navtex
Section: misc
Priority: optional
Maintainer: juerec <juerec@users.github.com>
Build-Depends: debhelper (>=10~),
 qtbase5-dev,
 qtchooser,
 qt5-qmake,
 qtbase5-dev-tools,
 libqt5serialport5-dev,
 qt4-linguist-tools,
 zlib1g-dev
Standards-Version: 3.9.6
Homepage: https://github.com/juerec/pc-navtex

Package: pc-navtex
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 qt5-qtbase5,
 libqt5serialport5
Description: GUI for showing messages from NASA PC NAVTEX USB
