#!/usr/bin/make -f

clean:
    cd pc-navtex; QT_SELECT=5 qmake
    cd pc-navtex; make clean

build:
    cd pc-navtex; QT_SELECT=5 qmake
    cd pc-navtex; make

build-arch: build

build-indep: build

binary-arch: build-arch

binary-indep: build-indep

binary: binary-arch binary-indep
